<%- include('includes/header') -%>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to Express TodoApp By Buks</p>
    <p>
      <div class="row">
        <div class="col-md-6 mb-3">
          <a href="/users/signup" class="main-btn">
            <i class="fa fa-sign-out mr-1"></i>Sign Up</a>
        </div>
        <div class="col-md-6 mb-3">
          <a href="users/login" class="main-btn">
            <i class="fa fa-sign-in mr-1"></i>Login</a>
        </div>
      </div>
    </p>
  </body>
</html>
